@media screen and (min-width: 800px) {
    header {
        @include mobilejj;
        @include familys;
        text-align: right;
        justify-content: flex-end;
        font-family: $family;
        padding: 0;
        span {
            padding: 38px;
        }

        a {
            font-size: 24px;
            padding: 40px;
        }

        img {
            height: 10vh;
            width: 6vw;
        }
    }
    section {
        line-height: 1.6;
        justify-content: space-between;
        padding: 1em;

        .first-text {
            width: 40vw;
            margin-top: 0vh;
            animation-name: cards;
            animation-duration: 2s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards; 
            .visa{
                float: right;
                padding:2vh 1vw 0px 0px;
            }

            .cards {  
                h1 {
                    text-align: left;
                    margin-top: 3vh;
                    margin-left: 2vw;
                    line-height: 2.5;
                }

                &-visa {
                    margin: 0;
                    width: 30vw;

                    .card-first-text {
                        @include card-text;
                    }
                    .card-first-number {
                        @include card-text;
                    }
                    .expired-text {
                        margin-left: 2vw;
                        font-size: $mobilefont;
                    }
                    .dist {
                        margin: 0;
                    }
                    .card-firsts{
                        font-size: $mobilefont;
                    }
                }
            }
        }
        .info {
            @include mobile;
            width: 100%;
        }

        .radio{
            margin-left: 2vw;
        }
        button{
            width: 95%;
            margin-left: 2vw;
        }

    }

    .inputs{
        .photos{
            @include mobileflex;
            margin-bottom: 5vh;

        }
        form{
            @include form;
            width: 100%;
            
            .ggt{
                padding: 0 1vw;
            }
            .sizes{
                width: 26vw;
                padding-left: 1vw;
                border: 1px solid;
                &:focus{
                    outline: none;
                    border: 3px solid $buttoncolor;
                }
            }

        }
    }
    table{
        padding: 2vh 1vw;
        min-width: 100%;

        tr{
            padding: 1vh 0;

            td{
                &:last-child{
                    text-align: right;
                }
            }
        }

    }
}
