@import "reset";
header {
    width: 100%;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
    padding: 10px;

    a {
        text-decoration: none;
        font-size: 18px;
        color: #333;
        font-weight: 700;
    }

    img {
        border-radius: 100%;
    }
}

@import "mobile";
