* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@-webkit-keyframes cards {
  0% {
    -webkit-transform: translateX(90vh);
            transform: translateX(90vh);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 5;
  }
}

@keyframes cards {
  0% {
    -webkit-transform: translateX(90vh);
            transform: translateX(90vh);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 5;
  }
}

header {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  border-bottom: 2px solid black;
  padding: 3vh 16px;
  text-align: center;
}

header a {
  text-decoration: none;
  font-size: 18px;
  color: #333;
  font-weight: 700;
}

header img {
  border-radius: 100%;
  height: 6vh;
  padding-left: 3px;
}

header .nav-links {
  padding-left: 3px;
}

section {
  width: 100%;
  padding: 1em;
  line-height: 1.8;
}

section h3 {
  color: #333;
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

section p {
  color: #aaa9aa;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 1vh;
}

section .first-text {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ff0500), to(black));
  background-image: linear-gradient(to right bottom, #ff0500, black);
  border-radius: 10px;
  height: 45vh;
}

section .first-text .visa {
  float: right;
  padding: 1vh 3vw 0px 0px;
}

section .first-text .visa img {
  height: 4vh;
}

section .first-text .cards {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

section .first-text .cards h1 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #272727;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  margin: 0vh 0px 0px 5vw;
  line-height: 3;
}

section .first-text .cards img {
  margin: 15vh 12px 1px 0px;
}

section .first-text .cards-visa {
  margin: 0px 0px 0px 2vw;
  text-align: left;
  border-bottom: 1px dashed #777377;
  width: 83vw;
}

section .first-text .cards-visa .card-first-text {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: antiquewhite;
  margin: 0vh 0px 0px 5vw;
}

section .first-text .cards-visa .card-first-number {
  font-size: 21px;
  font-weight: 100;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0vh 0px 0px 4vw;
}

section .first-text .cards-visa .expired-text {
  font-size: 18px;
  color: antiquewhite;
  margin: 0vh 0px 0px 5vw;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
}

section .first-text .cards-visa .expired-text small {
  margin-right: 7vw;
}

section .first-text .cards-visa .card-firsts {
  font-size: 18px;
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 9vw;
}

section .first-text .cards-visa .dist {
  font-size: 18px;
  color: antiquewhite;
  margin: 0vh 25vw 0px 0vw;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
}

section .inputs {
  padding: 3px;
}

section .inputs .photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section label {
  font-size: 16px;
  color: #6d6a6d;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

section .sizes {
  width: 87vw;
  height: 7vh;
  padding: 1em;
  background-color: #ebe7eb;
  border-radius: 9px;
}

section .radio {
  color: #333;
  font-size: 14px;
  font-weight: 700;
}

section button {
  height: 6vh;
  background-color: #0e6fe0;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid;
  color: #fff;
  width: 100%;
  font-size: 16px;
}

section button:hover {
  cursor: pointer;
  background-color: #fff;
  color: #333;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-top: 1px solid black;
  width: 100%;
  padding: 1em;
}

table tr td {
  font-size: 18px;
  color: #423a4b;
}

table tr td .small {
  color: #cfcecf;
}

table tr button {
  width: 80%;
  height: 6vh;
  background-color: #0e6fe0;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid;
  color: #fff;
}

table tr button:hover {
  cursor: pointer;
  background-color: #fff;
  color: #333;
}

@media screen and (min-width: 800px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-align: right;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
  }
  header span {
    padding: 38px;
  }
  header a {
    font-size: 24px;
    padding: 40px;
  }
  header img {
    height: 10vh;
    width: 6vw;
  }
  section {
    line-height: 1.6;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1em;
  }
  section .first-text {
    width: 40vw;
    margin-top: 0vh;
    -webkit-animation-name: cards;
            animation-name: cards;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  section .first-text .visa {
    float: right;
    padding: 2vh 1vw 0px 0px;
  }
  section .first-text .cards h1 {
    text-align: left;
    margin-top: 3vh;
    margin-left: 2vw;
    line-height: 2.5;
  }
  section .first-text .cards-visa {
    margin: 0;
    width: 30vw;
  }
  section .first-text .cards-visa .card-first-text {
    margin-left: 2vw;
    font-size: 18px;
  }
  section .first-text .cards-visa .card-first-number {
    margin-left: 2vw;
    font-size: 18px;
  }
  section .first-text .cards-visa .expired-text {
    margin-left: 2vw;
    font-size: 15px;
  }
  section .first-text .cards-visa .dist {
    margin: 0;
  }
  section .first-text .cards-visa .card-firsts {
    font-size: 15px;
  }
  section .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  section .radio {
    margin-left: 2vw;
  }
  section button {
    width: 95%;
    margin-left: 2vw;
  }
  .inputs .photos {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-bottom: 5vh;
  }
  .inputs form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 100%;
  }
  .inputs form .ggt {
    padding: 0 1vw;
  }
  .inputs form .sizes {
    width: 26vw;
    padding-left: 1vw;
    border: 1px solid;
  }
  .inputs form .sizes:focus {
    outline: none;
    border: 3px solid #0e6fe0;
  }
  table {
    padding: 2vh 1vw;
    min-width: 100%;
  }
  table tr {
    padding: 1vh 0;
  }
  table tr td:last-child {
    text-align: right;
  }
}
/*# sourceMappingURL=scss.css.map */